$white: rgba(255, 255, 255, 0.952);
$green: rgba(10, 85, 14, 0.479);
$error-red: #d80606;

//menu
$menu-bg: #2c3e50;
$menu-bg-hover: #22303e;

//page
$bg-page: #edf4fa;

//module
$border-module: #dadada;
$bg-module: #ffffff;
