@import "variables";

.auth__body {
  background-image: url("@src/assets/img/background.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;

  .auth__error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    min-height: 2rem;
    margin-top: -2rem;
    color: white;
    width: 100%;
    background-color: $error-red;

    >div{
      padding: 5px 10px;
    }
  }

  .auth__form {
    width: 300px;
    height: 330px;
    border-radius: 5px;
    background-color: $white;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
    margin: 0 auto;
    box-shadow: 0px 10px 20px 4px rgba(50, 50, 50, 0.2);

    .auth__title {
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 800;
      color: $green;
      text-transform: uppercase;
      padding: 1rem 0;

      i{
          font-size: 3rem;
      }
    }

    .auth__input {
      width: 80%;
      min-height: 102px;
    }
  }
}
