@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import '~normalize.css';

@import 'variables';

@import './container/container';

//components
@import './collections/module';
@import './collections/tabs';
@import './collections/button.scss';
@import './collections/table.scss';
@import './collections/modal.scss';

//pages
@import './pages/auth';
@import './pages/users';


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

D{
  margin-left: .5rem;
}

.txt-a-l{
  text-align: left;
}

.txt-a-c{
  text-align: center;
}
